@charset "utf-8";
/* CSS Document */

@import url('base.css');
@import url('layout.css');
@import url('skeleton.css');

body
{
	background:white;
}

.prod-re
{
	margin-top:1em;
}

.price-box span
{
	color:#9F9;
}


.products {
	margin-top : 25px;
	width : 100%;
	height : 300px;
	background-color : transparent;


}

.col-main {
	width : 960px;
	position : relative;
	left : 50%;
	margin-left : -480px;

}

.product1 {
	width : 23.5%;
	float : left;
	margin-right : 2%;
	margin-bottom: 1em;


}

.product2 {
	width : 23.5%;
	margin-right : 2%;
	float : left;
	margin-bottom: 1em;


}

.product3{
	width : 23.5%;
	margin-right : 2%;
	float : left;
	margin-bottom: 1em;



}

.product4 {
	width : 23.5%;
	float : left;
	margin-bottom: 1em;



}

.productPic {
	width : 100%;
	height : auto;
	margin-bottom: 1em;
	background-color : white;


}

.productPic  img{
	background-color : orange;


}

.productTitle {
	width : 100%;
	background-color : white;
	text-align : center;

}